*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/bg-curvy-desktop.svg");
    background-color: rgb(21, 31, 43);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30%;
    background-size: contain;
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#nav-bar-container {
    display: flex;
    height: 6vh;
    margin-top: 6vh;
    margin-bottom: 8vh;
    margin-left: 5vw;
    margin-right: 5vw;

}

#nav-bar-container>#nav-links {
    margin-left: auto;
    align-self: center;
}

#nav-links>a {
    margin-left: 4vw;
}

#nav-bar-container>img {
    height: 5vh;
}

#hero-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    /* background: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: fit;
    background-position-y: -3; */

}

#hero-img {
    width: 50%;
    align-self: center;
}

#hero-h1 {
    font-size: 1.8em;
}

#getStarted {
    align-self: center;
    color: white;
    margin-top: 1.5vh;
    width: 16vw;
    font-size: 1em;
    height: 6vh;
    border: none;
    border-radius: 3vw;
    background: linear-gradient(to right, rgb(74, 206, 230), rgb(0, 162, 255))
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 65%;
    margin-top: 20vh;
    justify-content: center;
}

.card-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    width: 20vw;
    margin: 6vw;
}

.card-img {
    align-self: center;
    height: 15vh;
}

.card-item>p {
    font-size: 0.8em;
}

#productive-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20vh;
}

#productive-img {
    width: 40vw;
}

#text-container {
    align-self: center;
    margin-left: 4vw;

}

#productive-container>#text-container>h2 {
    font-size: 2em;

}

#productive-container>#text-container>a {
    text-decoration: none;
    color: rgb(74, 206, 230);
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgb(74, 206, 230);
}

#quotes-container {
    display: flex;
    margin: 0 auto;
    width: 65%;
    height: 15vh;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 26vh;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 41, 60);
    height: 20vh;
    width: 40vh;
}

#email-container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    height: 25vh;
    width: 45vw;
}

#email-container>p {
    font-size: 0.85em;
}

#email-input-container {
    display: flex;
    margin: 0 auto;
    padding-top: 1vw;
}

#email_input {
    height: 5vh;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px;
    padding-left: 30px;
    margin-right: 1.5vw;
    width: 25vw;
}



#startedBtn {
    color: white;
    font-weight: bold;
    height: 5vh;
    border: none;
    width: 10vw;
    border-radius: 40px;
    background: linear-gradient(to right, rgb(74, 206, 230), rgb(0, 162, 255));
}